@model IdentityApp.ViewModels.ResetPasswordViewModel

@{
    ViewData["Title"] = "ResetPasswordConfirm";
}


<div class="row">
    <div class="col-md-4 offset-md-4">
        @if (ViewBag.Status == "Successful")
        {
            <div class="alert alert-info"> Şifre yenileme işlemi tamamlanmıştır.</div>
            <a class="btn btn-link" asp-action="LogIn" asp-controller="Home"></a>
        }
        else
        {
            <h4>Yeni Şifre Oluşturma</h4>
            <hr />
            <form asp-action="ResetPasswordConfirm" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Yeni Şifre Oluştur" class="btn btn-primary" />
                </div>
            </form>}
    </div>
</div> 